include ../label/label
include ../text-input/text-input

form.form.js-edit-form
  fieldset.form__fields-group
    legend.form__title Редактирование пользователя
    input(type="hidden", name="_id" value="")
    ul.form__fields
      li.form__fields-item
        +label({for: 'fullName', text: 'Имя и фамилия'})
        +textInput({name: 'fullName', id: 'fullName', type: 'text'})
        .form__input-error.js-input-error

      li.form__fields-item
        +label({for: 'email', text: 'Email'})
        +textInput({name: 'email', id: 'email', type: 'email'})
        .form__input-error.js-input-error

      li.form__fields-item
        +label({for: 'birthdate', text: 'Дата рождения'})
        +textInput({name: 'birthdate', id: 'birthdate', type: 'date'})

      li.form__fields-item
        +textInput({name: 'submit', id: 'submit', type: 'submit', class: 'form__action'})
