.form
  &__title
    display block
    width 100%
    margin-bottom 30px
    font-size 16px
    font-weight bold
    text-align center

  &__fields-group
    margin 0
    padding 0
    border 0

  &__fields
    margin 0
    padding 0
    list-style none
  
  &__fields-item
    margin-bottom 15px
  
  &__action
    border none
    background #ccc
    outline 0
    cursor pointer
    box-sizing border-box
